@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

p {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 10px 4px;
    font-family: Roboto;
}

img {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}